[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
container-app-conf = ">=5.0.0"
python-telegram-bot = ">=12"
telegram-click = ">=3"
textblob = "*"
textblob-de = "*"
emoji = "*"
sqlalchemy = "~=1.4"
alembic = "*"
prometheus-client = "*"
# psycopg2-binary

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
